@import "tailwindcss";

html, body, #app {
  height: 100%;
  overflow: hidden;
}

@media print {
  html, body, #app {
    height: auto;
    overflow: visible;
  }
}

:root {
    --controller-width: 500px;
    --controller-pad-top: 0px;
    --controller-pad-bottom: 120px;
    --controller-pad-sides: 50px;
}
