@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --controller-width: 500px;
    --controller-pad-top: 0px;
    --controller-pad-bottom: 120px;
    --controller-pad-sides: 50px;
}
